:root {
  --primary-color: #6a5acd;
  --secondary-color: #a393eb;
  --text-color: #333;
  --background-color: #f9f9f9;
  --card-color: #e6e0ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

input,
button {
  font-family: inherit;
}

