.navLink, .button, .ctaButton {
    font-family: 'Nunito Sans', sans-serif;
}

/* Main Container */

.container {
    background-color: #6f42c1;
    color: white;
    min-height: 100vh;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background-color: #5a2e96;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navLinks {
    display: flex;
    gap: 16px;
}

.navLink {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.button {
    background-color: white;
    color: cc5500;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.button:hover {
    background-color: #f0f0f0;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  /* Hero Section */
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 32px;
  }
  
  .heroText {
    max-width: 50%;
  }
  
  .heroText h2 {
    font-size: 36px;
    margin-bottom: 16px;
  }
  
  .heroText p {
    font-size: 18px;
    margin-bottom: 24px;
  }
  
  .ctaButton {
    background-color: white;
    color: #5a2e96;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
  }
  
  .ctaButton:hover {
    background-color: #f0f0f0;
  }
  
  .heroImage {
    max-width: 50%;
  }
  
  /* Features */
  .benefits {
    background-color: white;
    color: black;
    padding: 50px 32px;
    text-align: center;
  }
  
  .benefitGrid {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 24px;
  }
  
  .benefitCard {
    background-color: #c8abfa;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    text-align: center;
  }
  
  /* Footer */
  .footer {
    background-color: #5a2e96;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
  }